body {
    margin: 0;
    padding: 0;
    background-color: #DCD7C9;
}

nav {
    background-color: #2C3930;
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #A27B5C;
    color: #2C3930;
}

nav ul li:last-child {
    margin-left: auto;
}

nav ul li:last-child a:hover {
    background-color: #ff0000;
    color: white;
}

.carousel-item img {
    height: 400px;
    object-fit: contain;
    width: 100%;
}

main {
    background-color: #3F4F44;
    padding: 20px;
    color: #fff;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #A27B5C;
}

.card {
    background-color: #2C3930;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #A27B5C;
}

.card-text {
    font-size: 1rem;
    color: #DCD7C9;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:active {
    background-color: #004085;
    border-color: #003366;
}